/* You can add global styles to this file, and also import other style files */
* {
    box-sizing: border-box;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.snack-bar-error {
    border: 2px solid red;
    color: white;
    font: inherit;
}
.snack-bar-success {
    border: 2px solid #00c000;
    color: white;
    font: inherit;
}
