<div class="create-post-button">
    <button mat-raised-button color="primary"
            [routerLink]="'createPost'"
            [disabled]="!(isAuthenticated$ | async)">
        Create New Post
    </button>
</div>

<div fxLayout="column" fxLayoutAlign="center center" *ngIf="!(isLoading$ | async)">
    <mat-accordion multi="false" *ngIf="(posts$ | async)">
        <mat-expansion-panel *ngFor="let post of (posts$ | async)">
            <mat-expansion-panel-header>
                {{post.title}}
            </mat-expansion-panel-header>
            <hr>
            <div class="post-content">
                <img [src]="post.imagePath" [alt]="post.title" draggable="false">
                <hr>
                <p>{{post.content}}</p>
            </div>
            <mat-action-row fxLayoutAlign="space-between center">
                <p>Posted On: <strong>{{post.timeCreated | date: 'd/M/yy h:mm a'}}</strong></p>
                <p *ngIf="post.updated !== null && post.updated !== -1">Updated On: <strong>{{post.updated | date: 'd/M/yy h:mm a'}}</strong>
                </p>
                <div *ngIf="(isAuthenticated$ | async) && ((userId$ | async) === post.creator)">
                    <button mat-icon-button>
                        <mat-icon color="primary" matTooltip="Edit Post" routerLink="/edit/{{post.id}}"
                                  (click)="onEditPost(post)">create
                        </mat-icon>
                    </button>
                    <button mat-icon-button>
                        <mat-icon color="warn" matTooltip="Delete Post" (click)="onDeletePost(post)">delete</mat-icon>
                    </button>
                </div>
            </mat-action-row>
        </mat-expansion-panel>
    </mat-accordion>
    <mat-paginator [length]="totalPosts" [pageIndex]="currentPage" [pageSize]="postsPerPage" [pageSizeOptions]='[2, 5, 10, 20]'
    (page)="onPageChange($event)" *ngIf="(posts$ | async).length > 0"></mat-paginator>
</div>
<div *ngIf="isLoading$ | async" fxLayoutAlign="center">
    <mat-spinner></mat-spinner>
</div>
<div *ngIf="(posts$ | async).length <= 0" class="no-post-available" fxLayoutAlign="center center" fxLayout="column">
    <hr>
    <p>No Posts Available</p>
</div>

